.login_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.login_form,
.register_form {
  box-shadow: var(--dark-shadow);
  width: 350px;
  height: fit-content;

  margin-top: 8rem;
  background: var(--clr-white);
  align-items: center;
  border-radius: var(--radius);
}
.login_form h3,
.register_form h3 {
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  margin: 30px;
  text-align: center;

  color: var(--clr-primary);
}

.my-4 {
  text-align: center;
}
.my-4 h4 {
  text-align: left;
  color: var(--clr-grey-dark);
  font-size: 14px;
  font-weight: bold;
  margin-left: 50px;
}
.log_btn {
  margin: 15px auto 20px;
}
.log_input {
  width: 250px;
  border: 1px solid var(--clr-grey);
  border-radius: var(--radius);
  padding: 0.5rem;
  transition: var(--transition);
  background-color: var(--clr-grey-bg);
  margin-bottom: 20px;
}
.log_input:hover,
.log_input:focus {
  border: 1px solid var(--clr-primary);
  background-color: var(--clr-blue-bg);
}
.register,
.login {
  border: none;
  background: none;
  height: 30px;
  font-weight: bold;
  color: var(--clr-primary);
  cursor: pointer;
}
